.form{
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;
    margin-bottom: 2rem;
    margin-left: 12rem;
    margin-right: 12rem;
}
.formLast{
    /* width: 100%; */
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items:initial;
    margin-top: 3rem;
    margin-bottom: 2rem;
    margin-left: 12rem;
    margin-right: 12rem;
}

.img {
    height: 20rem;
    width: 20rem;
}