.topNav {
  background-color: #140d00;
  color: #ffa500;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1rem;
}

.button {
    color: #ffffff;
    background-color: #1a6bff;
    border-radius: 0.3rem;
    border-color: transparent;
    cursor: pointer;
    font-family: cursive;
}

.button:hover {
    background-color: #003fb3;
}
